[submodule "sources/meta-cuteradio"]
	path = sources/meta-cuteradio
	url = https://github.com/bstubert/meta-cuteradio.git
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = thud
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = thud
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://git.yoctoproject.org/cgit/cgit.cgi/meta-raspberrypi
	branch = thud
[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
	branch = thud
